header div {
  background-color: #f06161;
  font-family: "Indie Flower"; }

header div h1 {
  font-size: 5rem; }

.navbar {
  background-color: #eb786b; }

.navbar-toggler {
  background-color: powderblue; }

body {
  background-color: #f06161; }

.card {
  border: 0; }

.card-header {
  background-color: #bd574e; }

.card-body {
  background-color: #ffe3ed; }

.panel-header {
  background-color: #bd574e; }

nav > div > a {
  color: white; }

nav > div > a.active {
  color: white;
  font-weight: bold; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #bd574e;
  border: 0;
  color: #ffe3ed; }

div.nav.nav-tabs.panel-header {
  border: 0; }

textarea.form-control {
  border: 0;
  background-color: #ffe3ed; }
